@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Utilities Style */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 30px;
}

/* Header Style */
header{
    height: 100vh;
}
nav{
    margin-top: 30px;
    height: 80px;
}
.nav-title{
    font-size: 20px;
    font-weight: 600;
    color: #3A3A3A;
    }
.banner-title{
    font-size: 43px;
    font-weight: 800;
    color: #3A3A3A;
}
.banner-paragraph{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}
.banner{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
padding-bottom: 30px;
}
.banner-left p{
  margin-bottom: 40px;
}
.half-width{
    width: 80%;
    padding: 2%;
    margin: 5%;
  
}
.banner:hover .banner-image{
    transform: scale(1.2) ;
    transition: transform 2s;
}
.banner-image{
   width: 440px;
   height: 414px;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-color: #e02b6c;
    padding: 12px 40px;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 50px;
    }
.fa-arrow-right{
    font-size: 20px;
    }

/* Main Section CSS */

.grid-title{
    font-size: 35px;
    font-weight: 800;
    color: #3A3A3A;
    text-align: center;
    padding-top: 30px;
   padding-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:30px;
    grid-row-gap:30px; 
}
.product{
    width: 329px;
    height: 476px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: (0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    padding: 14px;
}
.product-info{
    font-weight: 500;
    font-size:25px;
   line-height: 40px;
  }
.product .product-banner img{
    width: 300px;
    height: 240px;
   }
.product-ratting{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
    }
.fa-star.empty{
    color: #AEAEAE;
    }
.rating-text{
    font-size: 14px;
    font-weight: 700;
}
.shipment-text{
    color:#787885;
    font-weight: bold;
    font-size: 14px;
}
.see-more{
    text-align: right;
    margin: 40px;
}
.see-more a{
   font-size: 16px;
   text-decoration: none;
   font-weight: 700;
   color: #e02b6c;

}
.section-title{
    font-size: 35px;
    font-weight: 800;
    color: #3A3A3A;
    text-align: center;
    padding-bottom: 20px;
}
.shots-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
}
.shots-container img{
    width: 100%;
}

/* footer style */
footer{
    height:250px;
    background-color: #0a0826;
}
.footer-detail{
    margin: 40px;
   padding-top: 80px;
    text-align: center;
}
footer h2{
    color: white;
}
footer p{
    color:white;
    font-size: 14px;
}
.icons{
padding-top: 20px;
}
footer a{
text-decoration: none;
}
.fab{
    font-size: 30px;
    color: white;
}

/*=============reponsive css =============
============================*/

html,body{
    height:100%;
    width: 100%;
}
@media only screen and (min-width: 1920px) {}

@media only screen and (min-width: 992px) and (max-width: 1280px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    nav {
        height: auto;
        text-align: center;
    }

    header.container {
        height: auto;
        padding-bottom: 20px;
    }
    section.popular-products {
        margin: 40px 0;
    }
    .container {
        width: auto;
        padding: 0;
        margin: 0px 15px;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-right {
        text-align: center;
    }

    img.banner-image {
        max-width: 70%;
        height: auto;
    }

    h1.banner-title {
        font-size: 30px;
    }

    p.banner-paragraph {
        font-size: 14px;
        font-weight: normal;
    }

    a.link-btn {
        font-size: 13px;
        padding: 10px 20px;
    }

    a.link-btn i {
        font-size: 13px;
    }

    .products {
        display: block;
    }

    footer.container {
        height: auto;
    }
    .shots-container {
        display: block;
    }
    .shots-container img {
        margin-bottom: 20px;
    }
    .footer-detail {
        margin: 20px auto;
        padding: 50px 0;
    }
    h1.section-title {
        font-size: 32px;
    }
    .product {
        width: auto;
        height: auto;
        margin: 0;
        padding: 14px;
        margin-top: 50px;
    }
    .product .product-banner img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {}
    